/* font Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body,
div,
header,
footer,
section,
main,
aside,
ul,
ol,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
nav,
span {
  margin: 0;
  padding: 0;
}

body {
  background-color: #242424;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background-color: #282828;
  padding: 25px 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  text-decoration: none;
}
header nav a h1 {
  color: #f96c14;
}
header nav .search-city-block {
  display: flex;
  align-items: center;
}
header nav .search-city-block input {
  height: 30px;
  width: 250px;
  padding-left: 10px;
}
header nav .search-city-block .search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 28px;
  border: 1px solid lightgrey;
  margin-left: 10px;
  background-color: lightgrey;
  color: #f2f2f2;
}
header nav .search-city-block .search-btn:hover {
  border: 1px solid #f96c14;
}

.wrap {
  background-color: #464646;
}
.wrap .switch-bar {
  display: flex;
  justify-content: space-between;
}
.wrap .switch-bar .switch-block {
  display: flex;
}
.wrap .switch-bar .switch-block .switch-day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 10px 5px;
  border: 2px solid #464646;
  border-top: none;
  font-size: 18px;
  text-decoration: none;
  color: #f2f2f2;
}
.wrap .switch-bar .switch-block .switch-day:hover {
  color: #f96c14;
}
.wrap .switch-bar .switch-block .switch-day-active {
  border: 2px solid #636363;
  border-bottom: 2px solid #f96c14;
  border-top: none;
}
.wrap .switch-bar .switch-theam {
  display: flex;
}
.wrap .switch-bar .switch-theam .theam {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 10px 5px;
  border: 2px solid #464646;
  border-top: none;
  font-size: 18px;
  text-decoration: none;
  color: #f2f2f2;
}
.wrap .switch-bar .switch-theam .theam:hover {
  color: #f96c14;
}
.wrap .switch-bar .switch-theam .theam-active {
  border: 2px solid #636363;
  border-bottom: 2px solid #f96c14;
  border-top: none;
}

.weather-block .current-weather {
  background-color: #605f5f;
  margin-top: 25px;
  padding: 20px;
}
.weather-block .current-weather p {
  color: #f2f2f2;
}
.weather-block .current-weather h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f96c14;
}
.weather-block .current-weather .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
.weather-block .current-weather .flex .item {
  width: 33%;
  text-align: center;
  font-size: 18px;
}
.weather-block .current-weather .flex .item .current-temp {
  font-size: 50px;
}
.weather-block .current-weather .flex .item img {
  width: 25%;
}
.weather-block .weekday-block {
  background-color: #605f5f;
  margin-top: 25px;
  display: flex;
}
.weather-block .weekday-block p {
  color: #f2f2f2;
}
.weather-block .weekday-block .item {
  width: 20%;
  padding: 20px;
  text-align: center;
  border: 1px solid #636363;
  border-top: none;
  border-bottom: none;
}
.weather-block .weekday-block .item:first-child {
  border-left: none;
}
.weather-block .weekday-block .item:last-child {
  border-right: none;
}
.weather-block .weekday-block .item:hover {
  background-color: #343434;
}
.weather-block .weekday-block .item .weekday {
  color: #f96c14;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}
.weather-block .weekday-block .item .icon-block {
  height: 75px;
}
.weather-block .weekday-block .item .icon-block img {
  height: 100%;
}
.weather-block .weekday-block .item .temp {
  font-size: 30px;
  padding-bottom: 10px;
}
.weather-block .weekday-block .active-day {
  background-color: #343434;
}
.weather-block .hourly-weather {
  background-color: #605f5f;
  margin: 25px 0;
  padding: 20px;
}
.weather-block .hourly-weather h2 {
  color: #f96c14;
}
.weather-block .hourly-weather p {
  color: #f2f2f2;
}
.weather-block .hourly-weather .flex {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.weather-block .hourly-weather .flex .item {
  width: 16%;
  font-size: 18px;
}
.weather-block .hourly-weather .flex .item .hour-weather-icon {
  width: 100%;
  height: 75px;
}
.weather-block .hourly-weather .flex .item .hour-weather-icon img {
  height: 100%;
}
.weather-block .hourly-weather .flex .item p {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(125, 125, 125, 0.1);
}
.weather-block .hourly-weather .flex .item .time {
  font-weight: 500;
  border-bottom: none;
}
.weather-block .hourly-weather .flex .item .time span {
  text-transform: uppercase;
  color: #2d2d2d;
}
.weather-block .citys-block {
  background-color: #605f5f;
  margin-bottom: 25px;
  padding: 20px;
  color: #f2f2f2;
}
.weather-block .citys-block h2 {
  color: #f96c14;
}
.weather-block .citys-block .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-top: 20px;
}
.weather-block .citys-block .grid .item {
  background-color: #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
.weather-block .citys-block .grid .item:hover {
  background-color: #343434;
}
.weather-block .citys-block .grid .item .city-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather-block .citys-block .grid .item .city-weather div {
  width: 50px;
  margin-right: 25px;
}

footer {
  padding: 20px 0;
  background-color: #464646;
  color: #f2f2f2;
  text-align: center;
}

.error-block {
  text-align: center;
  color: #f2f2f2;
  margin: 25px 0;
  padding: 20px;
}
.error-block .block {
  background-color: #605f5f;
}
.error-block .block p {
  padding-bottom: 20px;
}
.error-block .block span {
  font-size: 20px;
}
.error-block img {
  width: 100%;
  filter: hue-rotate(0deg);
}

@media screen and (max-width: 768px) {
  .weather-block .hourly-weather .flex {
    flex-direction: column;
  }
  .weather-block .hourly-weather .flex .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .weather-block .hourly-weather .flex .item .hour-weather-icon {
    width: 15%;
  }
  .weather-block .hourly-weather .flex .item p, .weather-block .hourly-weather .flex .item div {
    width: 15%;
  }
}
@media screen and (max-width: 600px) {
  header nav {
    flex-direction: column;
  }
  header nav a h1 {
    text-align: center;
    padding-bottom: 10px;
  }
  header nav .search-city-block input {
    width: 100%;
  }

  .weather-block .current-weather .flex {
    flex-wrap: wrap;
  }
  .weather-block .current-weather .flex .item {
    margin-bottom: 25px;
    width: 50%;
  }
  .weather-block .citys-block .grid {
    grid-template-columns: 1fr;
  }
}