/* font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

//light theam
$bgColor: rgb(189, 189, 189);
$bgColorHover: rgb(250, 250, 250);
$headerBgColor: rgb(234, 234, 234);
$weatherBlocksBgColor: rgb(227, 227, 227);
$accentColor: rgb(100, 183, 255);
$footerBgColor: #111111;
$footerColor: rgb(242, 242, 242);
$paragraphColor: #000000;
$errorFilter: hue-rotate(180deg);


//dark theam
// $bgColor: rgb(36, 36, 36);
// $bgColorHover: rgb(52, 52, 52);
// $weatherBlocksBgColor: rgb(96, 95, 95);
// $accentColor: rgb(249, 108, 20);
// $headerBgColor: rgb(40, 40, 40);
// $footerBgColor: #464646;
// $footerColor: rgb(242, 242, 242);
// $paragraphColor: #f2f2f2;
// $errorFilter: hue-rotate(0deg);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body,
div,
header,
footer,
section,
main,
aside,
ul,
ol,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
nav,
span {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bgColor;
    // background-image: url('/img/bg.png');
    // background-repeat: repeat;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    background-color: $headerBgColor;
    padding: 25px 0;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;

            h1 {
                color: $accentColor;
            }
        }

        .search-city-block {
            display: flex;
            align-items: center;

            input {
                height: 30px;
                width: 250px;
                padding-left: 10px;
            }

            .search-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 28px;
                border: 1px solid lightgrey;
                margin-left: 10px;
                background-color: lightgrey;
                color: $paragraphColor;

                &:hover {
                    border: 1px solid $accentColor;
                }
            }
        }
    }
}

.wrap {
    background-color: $footerBgColor;

    .switch-bar{
        display: flex;
        justify-content: space-between;
        .switch-block {
            display: flex;
    
            .switch-day {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                padding: 10px 5px;
                border: 2px solid $footerBgColor;
                border-top: none;
                font-size: 18px;
                text-decoration: none;
                color: $footerColor;
    
                &:hover {
                    color: $accentColor;
                }
            }
    
            .switch-day-active {
                border: 2px solid rgb(99, 99, 99);
                border-bottom: 2px solid $accentColor;
                border-top: none;
            }
        }

        .switch-theam {
            display: flex;

            .theam {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 120px;
                padding: 10px 5px;
                border: 2px solid $footerBgColor;
                border-top: none;
                font-size: 18px;
                text-decoration: none;
                color: $footerColor;
    
                &:hover {
                    color: $accentColor;
                }
            }

            .theam-active{
                border: 2px solid rgb(99, 99, 99);
                border-bottom: 2px solid $accentColor;
                border-top: none;
            }
        }
    }
}


.weather-block {
    .current-weather {
        background-color: $weatherBlocksBgColor;
        margin-top: 25px;
        padding: 20px;

        p{
            color: $paragraphColor;
        }

        h2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $accentColor;
        }

        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 25px;

            .item {
                width: 33%;
                text-align: center;
                font-size: 18px;

                .current-temp {
                    font-size: 50px;
                }

                img {
                    width: 25%;
                }
            }
        }
    }

    .weekday-block {
        background-color: $weatherBlocksBgColor;
        margin-top: 25px;
        display: flex;


        p{
            color: $paragraphColor;
        }
        .item {
            width: 20%;
            padding: 20px;
            text-align: center;
            border:1px solid rgb(99, 99, 99);
            border-top: none;
            border-bottom: none;

            &:first-child{
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }

            &:hover {
                background-color: $bgColorHover;
            }

            .weekday {
                color: $accentColor;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 600;
                padding-bottom: 10px;
            }
            .icon-block{
                height: 75px;
                img{
                    height: 100%;
                }
            }

            .temp {
                font-size: 30px;
                padding-bottom: 10px;
            }
        }

        .active-day {
            background-color: $bgColorHover;
        }

        
    }

    .hourly-weather {
        background-color: $weatherBlocksBgColor;
        margin: 25px 0;
        padding: 20px;

        h2 {
            color: $accentColor;
        }

        p{
            color:$paragraphColor;
        }

        .flex {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;

            .item {
                width: 16%;
                font-size: 18px;

                .hour-weather-icon {
                    width: 100%;
                    height: 75px;

                    img {
                        height: 100%;
                    }
                }

                p {
                    margin-bottom: 10px;
                    border-bottom: 1px solid rgba(125, 125, 125, 0.1);
                }

                .time {
                    font-weight: 500;
                    border-bottom: none;
                    span{
                        text-transform: uppercase;
                        color:#2d2d2d;
                    }
                }
            }
        }
    }

    .citys-block {
        background-color: $weatherBlocksBgColor;
        margin-bottom: 25px;
        padding: 20px;
        color: $paragraphColor;


        h2{
            color: $accentColor;
        }

        .grid{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 20px;
            padding-top: 20px;

            .item {
                background-color: $bgColor;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                font-size: 20px;
                cursor: pointer;
                &:hover {
                    background-color: $bgColorHover;
                }

                .city-weather {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    div {
                        width: 50px;
                        margin-right: 25px;
                    }
                }
            }
        }
    }
}

footer {
    padding: 20px 0;
    background-color: $footerBgColor;
    color: $footerColor;
    text-align: center;
}

.error-block {
    text-align: center;
    color: $paragraphColor;
    margin: 25px 0;
    padding: 20px;
    
    .block{
        background-color: $weatherBlocksBgColor;
        p{
            padding-bottom: 20px;
        }
        
        span {
            font-size: 20px;
        }
    }

    img {
        width: 100%;
        filter: $errorFilter;
    }
}


@media screen and (max-width: 768px){
    .weather-block {
        .hourly-weather{
            .flex {
                flex-direction: column;

                .item {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .hour-weather-icon {
                        width: 15%;
                    }

                    p, div {
                        width: 15%;
                    }
                }
            }
        }
    }
} 


@media screen and (max-width: 600px) {
    header nav {
        flex-direction: column;

        a h1 {
            text-align: center;
            padding-bottom: 10px;
        }

        .search-city-block input {
            width: 100%;
        }
    }

    .weather-block {

        .current-weather .flex {
            flex-wrap: wrap;

            .item {
                margin-bottom: 25px;
                width: 50%;
            }
        }

        .citys-block{
            
            .grid {
                grid-template-columns: 1fr;
            }
        }


    }
}